<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>25</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>//DESKTOP-II8CUNE/publish/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(нет)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <History>True|2021-07-25T05:13:43.9753145Z;True|2021-07-25T00:36:42.4177103+06:00;True|2021-07-25T00:34:34.2536648+06:00;True|2021-07-25T00:33:14.5577621+06:00;True|2021-07-24T23:08:24.9265004+06:00;True|2021-07-24T23:06:01.0212852+06:00;True|2021-07-04T00:06:05.6991149+06:00;True|2021-07-02T23:32:57.9425181+06:00;True|2021-07-02T10:39:27.5536194+06:00;True|2021-06-23T21:29:11.5755511+06:00;True|2021-06-23T20:49:38.3730300+06:00;True|2021-06-22T12:05:07.4973164+06:00;True|2021-06-18T13:56:40.8290119+06:00;True|2021-06-18T13:12:08.4732418+06:00;True|2021-06-09T22:43:17.7861797+06:00;True|2021-06-06T18:29:02.6759393+06:00;True|2021-06-04T22:38:18.0830695+06:00;True|2021-05-21T21:16:33.7298962+06:00;True|2021-05-21T21:15:24.1248740+06:00;True|2021-05-16T09:14:37.1952199+06:00;True|2021-05-15T23:01:49.0895886+06:00;True|2021-05-15T23:00:59.7607242+06:00;True|2021-05-15T12:49:01.6014605+06:00;True|2021-05-15T12:33:15.0560739+06:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.3.1.x64">
      <Install>True</Install>
      <ProductName>Среда выполнения .NET Core 3.1.13 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>